html, body {
	height: 100%;
	overflow:hidden;
	}
#map {
	width: 40%;
	
	display:block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px; /* Set margin to your navbar height */
}
#review {
	overflow: auto;
	display:block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:40%;
    right:0;
    margin-top:50px; /* Set margin to your navbar height */
}
.book-intro{
	padding-left:10px;
}
.book-intro-rating{
	font-size: 54px;
}
.book-intro-small{
	font-size: 20px;
}
.rating-num { 
	margin-top:0px;
	font-size: 25px; 
	}
.profile-body {
	position:absolute;
	width:70%;
	margin-top:50px;
	margin-left:15%;
    left:0;
	right:0;
	bottom:0;
    top:0;
}
.scrollable {
	overflow-y: auto;
	overflow-x: hidden;
	position:absolute;
	margin-top:50px;
    left:0;
	right:0;
	bottom:0;
    top:0;
}	
.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    /*border-radius: 4px 0 0 4px; */
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #ff7878; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a:hover {
    background-color: #ff7878;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
	
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}