<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>GeoLocate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="Bootstrap_files/bootstrap.css" rel="stylesheet">
    <link href="Bootstrap_files/bootstrap-responsive.css" rel="stylesheet">
    <link href="Bootstrap_files/docs.css" rel="stylesheet">
    <link href="Bootstrap_files/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png">

    
  

  <body>
<?php include_once 'navbar.html' ?>
	
<div class="container-fluid" >
    <div class="row-fluid">
		<div class="span4" style="background-color: #bbd8e9;">
		</div>
		<div class="span8">			
		</div>
    </div>
	<hr class="soften">    
</div>





    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <ul class="footer-links">
          <li><a href="#">Contact Us</a></li>
          <li class="muted">·</li>
          <li><a href="#">About Us</a></li>
          <li class="muted">·</li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="Bootstrap_files/widgets.js"></script>
    <script src="Bootstrap_files/jquery.js"></script>
    <script src="Bootstrap_files/bootstrap-transition.js"></script>
    <script src="Bootstrap_files/bootstrap-alert.js"></script>
    <script src="Bootstrap_files/bootstrap-modal.js"></script>
    <script src="Bootstrap_files/bootstrap-dropdown.js"></script>
    <script src="Bootstrap_files/bootstrap-scrollspy.js"></script>
    <script src="Bootstrap_files/bootstrap-tab.js"></script>
    <script src="Bootstrap_files/bootstrap-tooltip.js"></script>
    <script src="Bootstrap_files/bootstrap-popover.js"></script>
    <script src="Bootstrap_files/bootstrap-button.js"></script>
    <script src="Bootstrap_files/bootstrap-collapse.js"></script>
    <script src="Bootstrap_files/bootstrap-carousel.js"></script>
    <script src="Bootstrap_files/bootstrap-typeahead.js"></script>
    <script src="Bootstrap_files/bootstrap-affix.js"></script>

    <script src="Bootstrap_files/holder.js"></script>
    <script src="Bootstrap_files/prettify.js"></script>

    <script src="Bootstrap_files/application.js"></script>
</body></html>

<script src= "scripts\jquery.js"></script>
<script src= "scripts\underscore.js"></script>
<script src= "scripts\backbone-min.js"></script>


<script src= "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src= "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src= "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src= "//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>

<script>
	//Validate Email
	function validateEmail(email) { 
		var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return re.test(email);
	} 
	
	//Serialize any form object into JSON
	$.fn.serializeObject = function() {
		var o = {};
		var a = this.serializeArray();
		$.each(a, function() {
			if (o[this.name]) {
				if (!o[this.name].push) {
					o[this.name] = [o[this.name]];
				}
				o[this.name].push(this.value || '');
			} else {
				o[this.name] = this.value || '';
			}
		});
		return o;
	};
	
	
	var SignIn_SignUp_Profile_View = Backbone.View.extend({
	initialize: function(){
			_.bindAll(this, "render");
			this.listenTo(window.user, 'change', this.render);
			this.render();
		  },
	el: '#SignIn_SignUp_Profile',
	events : {
		"submit .signIn-User-Form" : "Login",
		"click #logoutButton" : "Logout",
		"submit .signUp-User-Form" : "Register",		
	},
	Login : function(ev){
				var userDetails = $(ev.currentTarget).serializeObject();
				window.user = new User({'id':userDetails.email});
				window.user.fetch({data:{password: userDetails.password} , type: 'POST' ,
					success: function(){
							console.log("Login Successful");
							window.signin_signup_profile_view.render();
							//set cookie
							$.cookie("user", JSON.stringify(window.user.toJSON()), { expires : 7 });
							},
					error: function(xhr, status, error){
							alert("Invalid Email or Password");
							}							
						});
				return false;
			},
	Logout : function(ev){
				$.removeCookie('user');
				window.user = new User({});
				this.render();
				console.log("User logged out");
			},
	Register : function(ev){
				var userDetails = $(ev.currentTarget).serializeObject();
				var validate = this.validateRegistrationForm(userDetails);
				
				if(validate != 0)
				{
					this.$el.find(".error").html(
										"<div class='alert alert-error'>"+
										"<button type='button' class='close' data-dismiss='alert'>"+
										"&times;</button><strong>Error!</strong> "+validate+"</div>"
										);
					return false;
				}
				
				var user = new User(userDetails);
				user.save({},{
					success : function(){
						alert("Accepeted registration. You will get a mail.");
						}
					});
				return false;
			},
	//Validate user registration form
	validateRegistrationForm : 	function (ud){
									if(ud.email == '' || ud.name == '' || ud.password == '' )
									{
										//All fields are compulsory
										return "All fields are compulsory";
									}
									if(!validateEmail(ud.email))
									{
										return "Email is not valid";
									}
									if(ud.password != ud.repassword )
									{
										//Password and Confirm password should match
										return "Password and Confirm password do not match";
									}									
									return 0;
								} ,
	template_profile : '',
	template_signin_signup : '',
	template_error : '',
	render : function() {
				this.template_profile = _.template($('#profile_templete').html(),{user : window.user});
				this.template_signin_signup = _.template($('#signin_signup_template').html(),{user : window.user});
				
				if(window.user.get('access_token'))
				{
					this.$el.html(this.template_profile);
				} else
				{
					this.$el.html(this.template_signin_signup);
				}	
			}
	});
	
	var User = Backbone.Model.extend({
		urlRoot: 'http://localhost/RESTslim/api/users',
		validate: function(attrs, options) {
			
		  },
		initialize: function(){
        },
	});
	
	var userDetails = JSON.parse($.cookie("user"));
	window.user= new User(userDetails);
	
	signin_signup_profile_view = new SignIn_SignUp_Profile_View();
		
</script>